__pycache__/
*.py[cod]
*.so
*.dylib
.Python
build/
dist/
pip-wheel-metadata/
*.egg-info/
*.eggs/
env/
.env
.env.*/
.venv/
venv/
.pytest_cache/
coverage.xml
.coverage
*.cover
*.py,cover
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
